Package: hithere
Version: 1.0-1
Architecture: all
Maintainer: Hélder Silva <hsilva@keep.pt>
Installed-Size: 21
Section: misc
Priority: extra
Homepage: http://www.keep.pt/
Description: This is a dummy package with a hello world echo script
 This is the long descriptin...
 This is the long description...
 This is the long description...
 This is the long description...
 This is the long description...
