Source: freedomboxalarm
Section: misc
Priority: extra
Maintainer: duchonic <duchonic@bluewin.ch>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.2
Homepage: station.codes 

Package: freedomboxalarm
Architecture: all 
Depends: ${shlibs:Depends}, ${ftdi1:Depends}, ${misc:Depends}
Description: This is a dummy package with a hello world echo script 
 This is the long descriptin...
