Source: freedomboxcountdown
Section: python
Priority: optional
Maintainer: duchonic <duchonic@bluewin.ch>
Build-Depends: debhelper (>= 9), dh-python
Standards-Version: 3.9.2
Homepage: https://station.codes
X-Python-Version: >= 3.6

Package: freedomboxcountdown
Architecture: all 
Section: python
Depends: ${misc:Depends}
Description: a countdown device and playground with debian packages 
