Package: freedomboxcountdown
Version: 1.2-2
Architecture: all
Maintainer: duchonic <duchonic@bluewin.ch>
Installed-Size: 12
Section: python
Priority: optional
Homepage: https://station.codes
Description: a countdown device and playground with debian packages
